.main-screen {
  grid-template-areas:
    "logo topbar"
    "sidebar content";
}

.brand-logo {
  grid-area: logo;
  background-color: var(--f-clr-highlight-dark);
}

.top-bar {
  grid-area: topbar;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);
}

.side-bar {
  grid-area: sidebar;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

.nav-item {
  width: 100%;
}

.nav-item-link {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;

  cursor: pointer;
  transition: 200ms ease;
}

.nav-item-link i {
  font-size: 20px;
}

.active-btn {
  color: var(--f-clr-highlight-dark);
}

.active-btn span {
  font-weight: 700;
}

.inactive-btn {
  color: var(--f-clr-inactive);
}

.inactive-btn:hover {
  color: black;
}

.main-content {
  padding: 1rem 3rem 0;
  grid-area: content;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  grid-template-rows: 12% 25% 7% 46%;
  grid-template-areas:
    "header header"
    "overview status"
    "table-management table-management"
    "table table";
  grid-gap: 1rem;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-invoice {
  width: 10rem;
  height: 2.6rem;

  font-size: 1rem;
  font-weight: 700;

  border: none;
  border-radius: 30px;
  background-color: var(--f-clr-highlight-dark);
  color: white;
  box-shadow: var(--shadow);

  transition: 200ms ease;
}

.new-invoice:hover {
  background-color: var(--f-clr-highlight);
}

.overview {
  grid-area: overview;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 0;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-standard);
  border: var(--border);
}

.overview-items {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overview-item {
  width: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview-item h2 {
  font-size: var(--fs-large);
}

.overview-item-title {
  color: var(--clr-disabled);
}

.overview-item-status {
  margin-top: 10px;
  font-size: var(--fs-small);
}

.status {
  grid-area: status;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-standard);
  border: var(--border);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
}

.status-content {
  display: flex;
  align-items: center;
}

.status img {
  width: 50%;
}

.table-management {
  grid-area: table-management;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.buttons {
  display: flex;
  align-items: end;
}

.table-btn {
  height: 80%;
  background-color: transparent;
  border: none;
  padding: 0 0.7rem;
  cursor: pointer;
}

.table-sorting {
  display: flex;
  align-items: end;
  height: 90%;
  gap: 10px;
}

.invoice-table {
  grid-area: table;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-standard);
  border: var(--border);
  overflow-y: auto;
}

/* Add invoice menu */
.new-invoice-menu-container {
  position: absolute;
  top: -90%;
  left: 10%;
  z-index: 2;
  width: 80%;
  height: 80%;
  padding: 2rem 2rem 4rem;

  background-color: var(--bg-clr-light);
  border: var(--border);
  border-radius: var(--border-radius-standard);
  box-shadow: var(--shadow);
  transition: 500ms ease;
}

.new-invoice-header-section {
  display: flex;
  justify-content: space-between;
}

.new-invoice-header-section button {
  border: none;
  background-color: transparent;
  color: var(--f-clr-highlight-dark);
  font-size: 1.5rem;
  display: flex;
  justify-content: end;
  align-items: start;
  cursor: pointer;
  transition: 200ms ease;
}

.new-invoice-header-section button:hover {
  color: rgb(194, 31, 31);
}

.new-invoice-menu-container form {
  display: grid;
  height: 100%;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 3rem 1fr 1fr 5rem;
  grid-template-areas:
    "header header"
    "client-info add-service-section"
    "total-overview add-service-section"
    "submit add-service-section";

  grid-gap: 1rem;
}

.client-select-section,
.add-service-section,
.services-overview-section {
  border: var(--border);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-standard);
  background-color: white;
  padding: 2rem 1rem;
}

.new-invoice-header-section {
  grid-area: header;
}

.client-select-section {
  grid-area: client-info;
  justify-content: center;
}

/* Add service section */
.add-service-section {
  grid-area: add-service-section;
}

.add-service-btn {
  padding: 5px 10px;
  border: none;
  background-color: var(--f-clr-highlight-dark);
  border-radius: 10px;
  color: white;
  box-shadow: var(--shadow);
  transition: 200ms ease;
  cursor: pointer;
}

.add-service-btn:hover {
  background-color: var(--f-clr-highlight);
}

.services-overview-section {
  grid-area: total-overview;
}

.add-services-input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
}

.inputfield-row {
  display: flex;
}

.service-input {
  padding: 2px;
  font-size: 12px;
}

.button-section {
  grid-area: submit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-section button {
  width: 10rem;
  height: 2.6rem;

  font-size: 1rem;
  font-weight: 700;

  border: none;
  border-radius: 30px;
  background-color: var(--f-clr-highlight-dark);
  color: white;
  box-shadow: var(--shadow);

  transition: 200ms ease;
}

.button-section button:hover {
  background-color: var(--f-clr-highlight);
}

/* Add service  section*/
.add-service-space {
  display: flex;
  flex-direction: column;
}
