.main-screen {
  grid-template-areas:
    "logo topbar"
    "sidebar content";
}

.brand-logo {
  grid-area: logo;
  background-color: var(--f-clr-highlight-dark);
}

.top-bar {
  grid-area: topbar;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);
}

.side-bar {
  grid-area: sidebar;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);
}

.main-content {
  padding: 2rem 3rem;
  grid-area: content;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.3fr repeat(3, 1fr);
  grid-template-areas:
    "header header"
    "overview status"
    "table-management table-management"
    "table table";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.new-invoice {
  width: 10rem;
  height: 2.6rem;

  font-size: 1rem;
  font-weight: 700;

  border: none;
  border-radius: 30px;
  background-color: var(--f-clr-highlight-dark);
  color: white;
  box-shadow: var(--shadow);

  transition: 200ms ease;
}

.new-invoice:hover {
  background-color: var(--f-clr-highlight);
}

.overview {
  grid-area: overview;
  display: flex;
  flex-direction: column;

  padding: 1rem 1.5rem;
  background-color: var(--bg-clr-light);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-standard);
  border: var(--border);
}

.overview-items {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview-item {
  width: 33%;
  height: 70%;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview-item-title {
  color: var(--clr-disabled);
}

.overview-item-status {
  margin-top: 10px;
  font-size: var(--fs-small);
}

/*
.status {
  grid-area: status;
  background-color: blue;
}

.table-management {
  grid-area: table-management;
  background-color: #4995ff;
}

.invoice-table {
  grid-area: table;
  background-color: grey;
} */
