* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --shadow: 2px 2px 1px rgb(183, 183, 183);
  --border: 1px solid rgba(128, 128, 128, 0.434);
  --border-radius-standard: 7px;

  --f-clr-highlight: #4995ff;
  --f-clr-highlight-dark: #3e7bd1;
  --f-clr-dark-accent: rgba(0, 0, 0, 0.75);

  --clr-disabled: rgb(166, 166, 166);
  --bg-clr-light: rgb(245, 245, 245);

  --fs-small: 14px;
  --fs-large: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--f-clr-dark-accent);
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-screen {
  border-radius: 5px;
  height: 100vh;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-template-rows: 3.5rem 1fr;

  background-color: rgb(229, 234, 242);
}
