<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../static/css/main-styles.css" />
    <link rel="stylesheet" href="../static/css/dashboard.css" />

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/00e8ed60ea.js"
      crossorigin="anonymous"></script>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet" />

    <title>Dashboard</title>
  </head>

  <body>
    <main class="main-screen">
      <div class="brand-logo">LOGO</div>
      <div class="top-bar"></div>
      <div class="side-bar"></div>
      <div class="main-content">
        <div class="header">
          <h1>Invoices</h1>
          <button class="new-invoice">New invoice</button>
        </div>

        <div class="overview">
          <h3>Overview</h3>
          <div class="overview-items">
            <div class="overview-item">
              <div class="overview-item-title">TOTAL</div>
              <div class="overview-item-amount">
                <h2>11831,58 EUR</h2>
              </div>
              <div class="overview-item-status">123 invoices</div>
            </div>
            <div class="overview-item">
              <div class="overview-item-title">PAID</div>
              <div class="overview-item-amount">
                <h2>5231,31 EUR</h2>
              </div>
              <div class="overview-item-status">10/24 invoices</div>
            </div>
            <div class="overview-item">
              <div class="overview-item-title">OVERDUE</div>
              <div class="overview-item-amount">
                <h2>2521,49 EUR</h2>
              </div>
              <div class="overview-item-status">8 invoices</div>
            </div>
          </div>
        </div>
        <div class="status"></div>
        <div class="table-management"></div>
        <div class="invoice-table"></div>
      </div>
    </main>
  </body>
</html>
