<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../static/css/main-styles.css" />
    <link rel="stylesheet" href="../static/css/dashboard.css" />

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/00e8ed60ea.js"
      crossorigin="anonymous"></script>

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"
      rel="stylesheet" />

    <title>Dashboard</title>
  </head>

  <body>
    <main class="main-screen">
      <div class="darkener"></div>
      <div class="brand-logo">LOGO</div>
      <div class="top-bar"></div>
      <div class="side-bar">
        <div class="nav-item">
          <button class="nav-item-link inactive-btn">
            <i class="fa-solid fa-people-group"></i>
            <span>Clients</span>
          </button>
        </div>
        <div class="nav-item">
          <button class="nav-item-link active-btn">
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <span>Invoices</span>
          </button>
        </div>
      </div>
      <div class="main-content">
        <div class="header">
          <h1>Invoices</h1>
          <button class="new-invoice">New invoice</button>
        </div>

        <div class="overview">
          <h3>Overview</h3>
          <div class="overview-items">
            <div class="overview-item">
              <div class="overview-item-title">TOTAL</div>
              <div class="overview-item-amount">
                <h2>€ 11831,58</h2>
              </div>
              <div class="overview-item-status">123 invoices</div>
            </div>
            <div class="overview-item">
              <div class="overview-item-title">PAID</div>
              <div class="overview-item-amount">
                <h2>€ 5231,31</h2>
              </div>
              <div class="overview-item-status">10/24 invoices</div>
            </div>
            <div class="overview-item">
              <div class="overview-item-title">OVERDUE</div>
              <div class="overview-item-amount">
                <h2>€ 2521,49</h2>
              </div>
              <div class="overview-item-status">8 invoices</div>
            </div>
          </div>
        </div>

        <div class="status">
          <h3>Invoice status</h3>
          <div class="status-content">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic1.squarespace.com%2Fstatic%2F53769ce0e4b08ebb6e297ef8%2Ft%2F53bacf5be4b04a14c450f9de%2F1404751713670%2Fdonut%2Bchart%2B25.png&f=1&nofb=1&ipt=5a897ed455724a5e6e27d72783d6f07eb461fb30701239a0b9f673ce45feb9e6&ipo=images"
              alt="" />
            <p>
              This section will be generated dynamically. This is not yet
              possible.
            </p>
          </div>
        </div>

        <div class="table-management">
          <div class="buttons">
            <button class="table-btn active">Open invoices</button>
            <button class="table-btn">Paid invoices</button>
          </div>
          <div class="table-sorting">
            <label for="table-sorting">Sort by: </label>
            <select name="sort" id="table-sorting">
              <option value="date">Date created</option>
            </select>
          </div>
        </div>
        <div class="invoice-table"></div>
      </div>
    </main>

    <div class="new-invoice-menu-container">
      <form action="/create_new_invoice" method="post" class="client-to-bill">
        <div class="new-invoice-header-section">
          <h2>New invoice Panel</h2>
          <button type="button" class="close-new-invoice-menu">
            <i class="fa-regular fa-circle-xmark"></i>
          </button>
        </div>
        <div class="client-select-section">
          <div class="select-client-container">
            <label for="select-client">
              <h4>Select client:</h4>
            </label>
            <select
              name="select-client-input"
              class="client-info-input"
              id="select-client"
              onchange="renderClientData();"
              required>
              <!-- <option value="">Option 1: aljdshasjldh</option>
              <option value="">Option 2: kjadhkasasdasd</option>
              <option value="">Option 3: kajdhkasjdh</option> -->
              <!--! Uncomment after styling! -->
              {% for client in client_list %}
              <option value="{{ client[0] }}">
                {{ client[0] }}, {{ client[1] }}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="client-info-container"></div>
        </div>

        <div class="add-service-section">
          <button class="add-service-btn" type="button">Add a service</button>

          <div class="add-services-input-container"></div>
        </div>

        <div class="services-overview-section"></div>

        <div class="button-section">
          <button type="submit" class="close-invoice-btn">
            Create invoice
          </button>
        </div>
      </form>
    </div>

    <script src="../static/scripts/dashboard.js"></script>
  </body>
</html>
